<html lang="en"><head>
	<meta charset="utf-8">

	<title>Paulina Kosykh</title>

	<link rel="stylesheet" href="/static/bundle.css">

	<style>
      .rounded {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
   </style>
</head>


<div class="flex items-center justify-center h-screen"><div class="m-5 md:max-w-xl shadow-lg rounded-md p-5 border-4 border-purple-700">
   
   <img src="/static/profile.jpeg" class="rounded">
   <h2 class="text-2xl pt-5">
   Hi there! I'm Paulina 👋</h2> <br>
   <p>I recently graduated from the <a class="text-green-700" href="https://uw.edu" target="_blank">University of Washington</a> with a degree in Environmental Health and Biochemistry.
         Right now I'm an Environmental Consultant at <a class="text-purple-600" href="https://www.erm.com/" target="_blank">Environmental Resources Management</a> in Manhattan, NY.
         <br>
      </p> <div class="pt-3 flex flex-col"><h3 class="text-center text-xl">Connect with me on the internet 🧑‍💻</h3> <div class="self-center flex space-x-4 pt-2">
         <a href="https://www.linkedin.com/in/paulina-kosykh-143660178/" target="_blank"><img class="h-10 transition duration-200 transform hover:-translate-y-1" src="/static/linkedin.svg" alt="LinkedIn"></a> 
         <a href="https://www.instagram.com/paulina._.colada/" target="_blank"><img class="h-10 transition duration-200 transform hover:-translate-y-1" src="/static/instagram.svg" alt="Instagram"></a> 
         <a href="/static/resume.pdf" target="_blank"><img class="h-10 transition duration-200 transform hover:-translate-y-1" src="/static/cv.png" alt="Resume"></a>
      </div></div></div></div> 
   </body></html>